{% extends "base.html" %}
{% load static %}

{% block title %}
  Change your password
{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="p-3 mb-2 bg-white text-dark">

      <!-- Message and error alert display -->
      {% if messages %}
        <div class="alert alert-primary" role="alert">
          {% for msg in messages %}
          <p>{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <h3 class="pt-4">Change password</h3>
      <hr class="mb-4">
      <!--Display the change password form-->
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          {{ form.password1 }}
        </div>

        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirm password</label>
          {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn_color">Update</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
        <div class="pt-5">
          <span class="text-muted"> <a href="{% url 'profile' user.username %}">Go back to your profile</a></span>
        </div>
      </form>
    </div>

  </div>

  <div class="col-md-3"></div>
</div>
{% endblock %}
